#big1{
    background-color: #FFCD9E;
    height:66vh;
      
}
#big2-small1,#big2-small2, #big1-small1, #big1-small2{
    width:50vw;
    justify-content:center;
    
}

@keyframes blink{
    0%{background-color: red;}
    25%{opacity: .5;}
    50%{background-color: blue;}
    100%{opacity: 1;}
    }

marquee{
    background-color: blanchedalmond;
    display:block;
    height:4vh;
    
}

marquee img{
    height:4vh
}

button{
    animation: blink 2s linear infinite
}

#big1-small1{
    padding:60px ;
}

#big2-small1,#big2-small2{
    padding: 20px ;
    display:flex;
}

ul, whitetext{
    list-style-type:none;
    color:white
}

.small{
    font-size: 0.7em;
}

.narrow-para{
    width: 55%;
}

.poppin{
    font-family: 'Poppins', sans-serif;
}

button{
    color:white;
    background-color: black;
    padding:10px 30px;
    font-size: 0.8em;
    border:none;
    border-radius: 8px;
}

input{
    padding:10px;
    border: 3px solid;
    border-radius: 8px;
}

.bold{
    font-weight: bold;
}

#small-white{
    font-size: 0.6em;
    color: white;
    padding: 10px 0px 0px 20px;
}

#big1,#big2{
    display:flex;
    flex-direction:row;
    
}

#big2{
    background-color: black;
    height:30vh;
}
body{
    margin:0px;
    font-family: 'Poppins', sans-serif;
}
::placeholder{
    font-size: 0.8em;
    font-weight:bold;
    font-family: 'Poppins', sans-serif;
}

#big2-small2 {
    text-align: right;
}
